html, body{
  height:99%;
  color:rgb(24, 20, 20); 
}
a{
  text-decoration:none;
  color:rgb(24, 20, 20);
}

.container{
  display:grid;
  grid-template-columns:repeat(6, 1fr);
  grid-template-rows:20% 1fr 10%;
  max-height:auto;
  height:100%;
  
  box-shadow:1px 1px 2px 1px black;
}
.search-container{
  grid-area:1/1/1/7;
  height:100%;
  display: grid;
  grid-template-columns:repeat(6,1fr);
  grid-template-rows:50% 50%;
  border-bottom:1px solid grey;
  background:rgb(70, 3, 3);
}
.title-text{
  grid-area:1/1/1/3;
  font-family: 'Gugi', sans-serif;
  margin:auto;
  color:white;
  font-size: 7em;

}
.searchbox{
  display:flex;
  justify-content:center;
  align-items:center;
  grid-area:1/3/1/5;

}
#searchform{
  text-align:center;
  color:grey;
}

.randombox{
  display:flex;
  justify-content:center;
  align-items:center;
  grid-area:2/3/2/5;
}
#searchform{
  flex:1;
  width:100%;
}
.results-container{
  grid-area:2/1/2/7;
  overflow-y: auto;
  justify-content: center;
  align-items:center;
}
.resultsbox{
  height:auto;
  display:flex;
  flex-direction:column;
  
}
#cards{
  flex:1;
  padding:20px 20px 0 20px;
  margin: 5px 20px;
  border:1px solid grey;
  box-shadow:1px 1px 2px grey;
  transition: box-shadow 0.3s;
  color:rgb(23, 15, 37);
  animation: fadein 2s;
}
#cards:hover{
  box-shadow:2px 2px 4px grey;
}
#cards h4{
  text-align:center;
  font-family: 'Josefin Sans', sans-serif;
  color:rgb(70, 3, 3);
}
.attribution-container{
  grid-area:3/1/3/7;
  background:rgb(70, 3, 3);
  display:flex;
}
.attribution-text{
  grid-area:3/1/3/7;
  text-align:center;
  margin:auto;
  font-size:1.2em;
  font-family: 'Josefin Sans', sans-serif;
}
#attr a{
  color:white;
}
#attr a:hover{
  color:gainsboro;
}
/*Animations*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*Media Queries*/
@media(max-width:600px) {
  .title-text{
    display:none;
  }
}
@media(max-height:600px){
  .title-text{
    display:none;
  }
}

/*TODO QOL: Add rows for longer displays */